# =========================================
# CORE APPLICATION SETTINGS
# =========================================
ENVIRONMENT="development"
BASE_URL="http://localhost:8000"

# =========================================
# DATABASE SETTINGS
# =========================================
DB_FILENAME="data.sqlite"

# =========================================
# TELEGRAM NOTIFICATION SERVICE
# =========================================
ENABLE_TELEGRAM_NOTIFICATION=true
TELEGRAM_BOT_TOKEN="your_telegram_bot_token_here"
TELEGRAM_CHAT_IDS="chat_id_1,chat_id_2"
#TELEGRAM_CHAT_IDS="single_chat_id_example"
TELEGRAM_WEBHOOK_SECRET="generate_a_random_secret_string_here"

# Telegram Backup
ENABLE_TELEGRAM_BACKUP=true
TELEGRAM_CHANNEL_ID="-100xxxxxxxxxx"

# =========================================
# WHATSAPP NOTIFICATION SERVICE (GREENAPI)
# =========================================
ENABLE_WHATSAPP_NOTIFICATION=true
WHATSAPP_GREENAPI_INSTANCE_ID="your_greenapi_instance_id_here"
WHATSAPP_GREENAPI_TOKEN="your_greenapi_token_here"
WHATSAPP_TARGET_IDS="group_id@g.us,user_id@c.us"
#WHATSAPP_TARGET_IDS="single_user_id@c.us"

# =========================================
# TIMEZONE & ENVIRONMENT CONFIGURATION
# =========================================
# Example for Nepal: Asia/Kathmandu
# Example for UK: Europe/London
APP_TIMEZONE="Asia/Kathmandu"

# Client Exclusions For Protfolio Fetch (Cron Job)
# Comma-separated list of exact client names to skip
SKIP_CLIENTS_FOR_PORTFOLIO_VALUATION="Client Name 1, Client Name 2, Client Name 3"

#For IPO Sell Signals.
IPO_SIGNAL_ENABLE=true